@import "variables";
//====== IOS
.font-ios-0 {
  font-family: $fontIOS0, $fontBase;
}
.font-ios-1 {
  font-family: $fontIOS1, $fontBase;
}
.font-ios-2 {
  font-family: $fontIOS2, $fontBase;
}
.font-ios-3 {
  font-family: $fontIOS3, $fontBase;
}